version: "3"
services:
  dvwa:
    image: vulnerables/web-dvwa
    ports:
      - "8081:80"
    restart: unless-stopped

  juiceshop:
    image: bkimminich/juice-shop
    ports:
      - "8082:3000"
    restart: unless-stopped
